* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  padding: 0 40px;
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

