<div class="app-container">
  <nav class="navbar" *ngIf="isLoggedIn()">
    <div class="nav-brand">
      <span class="brand-text" routerLink="/products" r style="cursor: pointer;"> Alex Order Management App</span>
    </div>
    
    <div class="nav-links">
      <a routerLink="/products" routerLinkActive="active" class="nav-item">Products</a>
    </div>

    <div class="nav-actions">
      <button pButton type="button" icon="pi pi-shopping-cart" class="p-button-rounded p-button-text nav-icon" routerLink="/cart" pTooltip="Cart"></button> <span class="cart-length">{{ getCartLength() }}</span>
      <button pButton type="button" icon="pi pi-list" class="p-button-rounded p-button-text nav-icon" routerLink="/orders" pTooltip="Orders"></button> <span class="order-length">{{ getOrderLength() }}</span>
      <button pButton type="button" icon="pi pi-sign-out" class="p-button-rounded p-button-danger p-button-text nav-icon" (click)="logout()" pTooltip="Logout"></button>
    </div>
  </nav>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>