<div class="lanpage">
    <div class="left">
        <h1>Welcome to Our Website</h1>
        <p>
            Discover the features and benefits of our product.
            Explore how it can help you achieve your goals and
            improve your workflow.
        </p>

       <p-button
  label="Save"
  raised>
</p-button>
    </div>

    <div class="center">
        <img src="assets/images/chir-landingpage.jpeg"
             alt="Landing Page Image"
             class="main-image">
    </div>

</div>